* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #009e9d;
    height: 100vh;
   
}

header {
    background-color: #008b8a;
    height: 60px;
   
}

header p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 19px 0px 15px 55px;
}

.main-container {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin: auto 0;
    flex-wrap: wrap;
    padding: 15px;
}

.sub-container {
    width: 350px;
    background-color: #dcdcdc;
    height: 490px;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
}

.sub-container:last-child {
    overflow: auto;
}

.task-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sub-header {
    font-weight: bold;
    padding: 15px 0 12px 11px;
}

.tasks {
    width: 93%;
    border-radius: 10px;
    height: 140px;
    background-color: #f5f5f5;
    position: relative;
}

.tasks:last-child {
    margin-bottom: 20px;
}

.tasks > p {
    padding: 17px 0px 20px 15px;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 7px;
}

img {
    width: 65%;
}

img[alt="man"] {
    width: 60%;
    position: relative;
    top: -8px;
    right: -20px;
}

.span-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

img[alt="checkbox"] {
    width: 35%;
}

img[alt="justify"] {
    position: relative;
    top: 2px;
}

.main-container > button {
    height: 40px;

}

.input-title {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 40px;
}

.input-title:focus {
    outline: none;
}

.closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    
}

.closeBtn:hover, .addCardBtn:hover {
    background-color: darkslategray;
    border: none;
}

i {
    transform: scale(1.4);
}

.addCardBtn {
    display: block;
    margin: 0 auto 20px ;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    transition: all 0.2s ease;
    
}

.addCardBtn:hover i {
    color: white;
}

textarea {
   resize:none;
   padding: 10px;
 
}