* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #009e9d;
    height: 100vh;
    width: 100vw;
    
}

header {
    background-color: #008b8a;
    height: 60px;
    width: 2000px;
}

header p {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 19px 0px 15px 55px;
}

.main-container {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin:  15px auto 0;
    width: 99%;
    
    
}

.sub-container {
    width: 350px;
    background-color: #dcdcdc;
    height: 490px;
    border-radius: 5px;
    overflow-y: scroll;
}

.sub-container:last-child {
    overflow: auto;
}

.task-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sub-header {
    font-weight: bold;
    padding: 15px 0 12px 11px;
}

.tasks {
    width: 93%;
    border-radius: 5px;
    height: 140px;
    background-color: #f5f5f5;
    
    
}

.tasks:last-child {
    margin-bottom: 20px;
}

.tasks > p {
    padding: 17px 0px 20px 15px;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 7px;
}

img {
    width: 65%;
}

img[alt="man"] {
    width: 60%;
    position: relative;
    top: -8px;
    right: -20px;
}

.span-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

img[alt="checkbox"] {
    width: 35%;
}

img[alt="justify"] {
    position: relative;
    top: 2px;
}
